/* save */
/* body {
    font-family: ;
}  */

#display {
    height: 70px;
    width: 400px;
    font-size: 30px;
    border: none; 
}

.button-container {
    background-color: #CCCCFF;
    height: 700px;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 12px;
    display: grid;
    
}


button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none; 
    font-size: 30px;
    font-weight: lighter;
    margin: 3px;
}

#delete, .BK {
    font-size: 25px;
}

.first-row {
    margin: 0 auto;
}

.second-row {
    margin: 0 auto;
}

.third-row {
    margin: 0 auto;
}

.fourth-row {
    margin: 0 auto;
}
.fifth-row {
    margin: 0 auto;
}
form {
    margin-top: 40px;
    margin: auto;
}

/* .number {
    font-size: 30px;
} */